.AddLabelForm {
    background-color: #6E947B;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.Label {
    background-color: #3d3d3d;
    border-radius: 20px;
    border: #fff 2px double;
    min-height: 100px;
    margin: 20px 0px 20px 0px;
    align-items: center;
    transition: background-color 0.3s ease;
}

.Label:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}