.Main {
    background-color: #6E947B;
    border-radius: 25px;
}

.Trolley {
    background-color: #536F5C;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.Trolley:hover {
    cursor: pointer;
    background-color: #3E5345;
}