.Div {
    background-color: #6E947B;
    border-radius: 25px;
}

.Info {
    background-color: #536F5C;
    color: #fff;
    border-radius: 15px;
    margin: 10px 20px 10px 20px;
    padding: 10px;
}