.Main {
  background-color: #2d843d;
  border-radius: 25px;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.08);
}

.Icon {
  width: 100%;
  font-size: 2rem;
  align-self: center;
}
